<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracions | portefolio</title>

    <!-- ------------ Favicon ---------------------->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="./images/icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-------------- Custom styles --------------------->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/custom.css">


</head>

<body>

    <div class="scroll-top"><img src="./images/icons/arrow-white.svg" alt="" /></div>


    <header id="home" class="header">

        <div class="topbar">
            <span>Oracions.dev@gmail.com</span>
            <img src="./images/icons/topbar-icon.svg" alt="">
            <span>+237 656-914-671</span>
        </div>

        <div class="banner">
            <img class="left-image" src="./images/icons/banner-left.svg" alt="">
            <div class="intro">
                <h2 class="text-intro">Hello, I'm <span>Oracion's</span></h2>
                <h2 class="text-intro">I'm a full stack developper</h2>
                <a href="#my-work"><button href="#my-work" class="btn header-btn"><img
                            src="./images/icons/arrow-button.svg" alt="" />View
                        my work</button></a>
            </div>
            <img class="right-image" src="./images/icons/lines.svg" alt="">
        </div>

        <div class="navbar">
            <div class="menu">
                <div id="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./index.html#services">Services</a></li>
                <li><a href="./index.html#my-work">Portefolio</a></li>
                <li class="active"><a href="./index.html#blog">Blog</a></li>
                <li><a href="./index.html#contact">contact</a></li>
                <li><a href="./index.html#about">About</a></li>
            </ul>
        </div>

    </header>




    <main>

        <div class="popup-modal">
            <span class="btn-close-modal">x</span>
            <div class="head">
                <div class="title">My Tube YouTube clone application</div>
                <a href="" target="_blank" class="btn btn-project-show">Ouvrir</a>
            </div>
            <div class="content">
                <div class="images">
                    <img src="./images/blog.svg" alt="" />
                </div>
                <div class="desc">
                    <div class="text">
                        Description: <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nihil, odit fugit
                            rem omnis architecto totam, cumque harum adipisci quis dolorem veritatis consectetur? Ipsa
                            non
                            velit
                            recusandae totam maxime expedita!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Recusandae nihil, odit fugit
                            rem omnis architecto totam, cumque harum adipisci quis dolorem veritatis consectetur? Ipsa
                            non
                            velit
                            recusandae totam maxime expedita!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Recusandae nihil, odit fugit
                            rem omnis architecto totam, cumque harum adipisci quis dolorem veritatis consectetur? Ipsa
                            non
                            velit
                            recusandae totam maxime expedita!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Recusandae nihil, odit fugit
                            rem omnis architecto totam, cumque harum adipisci quis dolorem veritatis consectetur? Ipsa
                            non
                            velit
                            recusandae totam maxime expedita!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Recusandae nihil, odit fugit
                            rem omnis architecto totam, cumque harum adipisci quis dolorem veritatis consectetur? Ipsa
                            non
                            velit
                            recusandae totam maxime expedita!
                        </p>
                    </div>
                    <div class="tech">
                        <ul>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                            <li>AdobeXD</li>
                            <li>Laravel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="links">
                    <a href="" target="_blank"><img src="./images/icons/github.svg" alt="" /> Lien du dépôt git</a>
                </div>
            </div>
        </div>
        <div class="blackout"></div>


        <div class="container">








            <section id="blog" class="section blog all">

                <div class="section-head">
                    <h3 class="section-title">Administration Système</h3>
                    <span class="underline"></span>
                </div>

                <div class="section-list blog">

                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <a href="post.html" class="btn btn-blog">En savoir plus <img
                                src="./images/icons/arrow-white.svg" alt="" /></a>

                    </div>





                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <a href="post.html" class="btn btn-blog">En savoir plus <img
                                src="./images/icons/arrow-white.svg" alt="" /></a>

                    </div>





                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <a href="post.html" class="btn btn-blog">En savoir plus <img
                                src="./images/icons/arrow-white.svg" alt="" /></a>

                    </div>



                </div>




            </section>





        </div>


    </main>

    <footer class="footer">
        <p>Copy right &copy; 2020. All Right Reserved</p>
    </footer>



    <script src="./js/main.js"></script>

</body>

</html>