<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracions | portefolio</title>

    <!-- ------------ Favicon ---------------------->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="./images/icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-------------- Custom styles --------------------->
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/responsive.css">

</head>

<body>

    <div class="scroll-top"></div>

    <header id="home" class="header">

        <div class="topbar">
            <span>Oracions.dev@gmail.com</span>
            <img src="./images/icons/topbar-icon.svg" alt="">
            <span>+237 656-914-671</span>
        </div>

        <div class="banner">
            <img class="left-image" src="./images/icons/banner-left.svg" alt="">
            <div class="intro">
                <h2 class="text-intro">Hello, I'm <span>Oracion's</span></h2>
                <h2 class="text-intro">I'm a full stack developper</h2>
                <a href="#my-work"><button href="#my-work" class="btn header-btn"><img
                            src="./images/icons/arrow-button.svg" alt="" />View
                        my work</button></a>
            </div>
            <img class="right-image" src="./images/icons/lines.svg" alt="">
        </div>

        <div class="navbar">
            <div class="menu">
                <div id="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <ul>
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#my-work">Portefolio</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>

    </header>




    <main>


        <div class="container">


            <section id="services" class="section services">

                <div class="section-head">
                    <h3 class="section-title">Services</h3>
                    <span class="underline"></span>
                </div>

                <div class="section-list services-list">

                    <div class="section-list-item">
                        <img class="service-image" src="./images/icons/Services'.svg" alt="">
                        <h4 class="service-title">Intuitive UI/UX Design</h4>
                        <div class="service-desc">
                            Création des maquettes d'application web et design de l'expérience des utilisateurs
                        </div>
                    </div>



                    <div class="section-list-item">
                        <img class="service-image" src="./images/icons/Services'.svg" alt="">
                        <h4 class="service-title">Responsive Template Integration</h4>
                        <div class="service-desc">
                            Production des interfaces de l'application web à partir d'un design
                        </div>
                    </div>





                    <div class="section-list-item">
                        <img class="service-image" src="./images/icons/Services.svg" alt="">
                        <h4 class="service-title">SPA And Web Site Building </h4>
                        <div class="service-desc">
                            Contruction des Single Page Application et des Multiples Page Application
                        </div>
                    </div>





                    <div class="section-list-item">
                        <img class="service-image" src="./images/icons/Services'.svg" alt="">
                        <h4 class="service-title">Database Architecture Design and API Integration</h4>
                        <div class="service-desc">
                            Création des maquettes d'application web et design de l'expérience des utilisateurs
                        </div>
                    </div>

                </div>

            </section>





            <section class="section tech">

                <div class="section-head">
                    <h3 class="section-title">Technology</h3>
                    <span class="underline"></span>
                </div>

                <div class="section-list tech-list">

                    <div class="section-list-item">
                        <div class="tech-image">
                            <img src="./images/icons/php.svg" alt="">
                        </div>
                        <h4 class="tech-title">PHP</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Laravel</span>
                            </li>
                        </ul>
                    </div>



                    <div class="section-list-item">

                        <div class="tech-image">
                            <img src="./images/icons/java.svg" alt="">
                        </div>
                        <h4 class="tech-title">Java</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Spring boot</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Swing</span>
                            </li>
                        </ul>
                    </div>



                    <div class="section-list-item">

                        <div class="tech-image">
                            <img src="./images/icons/html-css.svg" alt="">
                        </div>
                        <h4 class="tech-title">Html5 CSS3</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Sass</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Bootstrap 4</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Bootswatch</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Material UI</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Gsap</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">React Spring</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Sass</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Bootstrap 4</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Bootswatch</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Material UI</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Gsap</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">React Spring</span>
                            </li>
                        </ul>
                    </div>



                    <div class="section-list-item">

                        <div class="tech-image">
                            <img src="./images/icons/js.svg" alt="">
                        </div>
                        <h4 class="tech-title">JavaScript</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">jQurey</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Owl-carousel</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Angular</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">React JS</span>
                            </li>
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Vue JS</span>
                            </li>
                        </ul>
                    </div>



                    <div class="section-list-item">

                        <div class="tech-image">
                            <img src="./images/icons/node.svg" alt="">
                        </div>
                        <h4 class="tech-title">Node JS</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Express JS</span>
                            </li>
                        </ul>
                    </div>



                    <div class="section-list-item">

                        <div class="tech-image">
                            <img src="./images/icons/python.svg" alt="">
                        </div>
                        <h4 class="tech-title">Python</h4>
                        <ul class="list-tech">
                            <li>
                                <img src="./images/icons/checked.svg" alt="">
                                <span class="tech-name">Tkinter</span>
                            </li>
                        </ul>
                    </div>

                </div>

            </section>


            <section id="about" class="section about">

                <div class="section-head">
                    <h3 class="section-title">About me</h3>
                    <span class="underline"></span>
                </div>

                <div class="content">
                    <div class="picture">
                        <img src="./images/original.jpg" alt="Oracions picture">
                    </div>

                    <div class="info">
                        <div class="about-text">
                            Mon nom est <span class="firstname">Louis-Mary</span>&nbsp;<span
                                class="lastname">MONJENGUE</span>
                            <p>Je suis développeur web full stack à Douala, Cameroun afrique centrale. J'ai une passion
                                pour
                                le
                                design des effets et animations, la programation de manière générale ainsi que
                                l'administration
                                système sous Linux.</p>
                        </div>

                        <div class="social-links">
                            <img src="./images/icons/fb.svg" alt="Facebook">
                            <img src="./images/icons/twitter.svg" alt="Twitter">
                            <img src="./images/icons/linkedin.svg" alt="Linkedin">
                            <img src="./images/icons/github.svg" alt="Github">
                        </div>

                        <button class="btn contact-btn">Contact me</button>

                    </div>
                </div>

            </section>


            <section id="my-work" class="section projects">

                <div class="section-head">
                    <h3 class="section-title">Realisations</h3>
                    <span class="underline"></span>
                </div>

                <div class="section-list projects">

                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>











                    <div class="section-list-item">
                        <div class="image">
                            <img src="./images/proj.jpg" alt="">
                        </div>

                        <div class="desc">
                            <h4 class="project-name">My Tube</h4>
                            <h6 class="project-desc">Application similaire à YouTube</h6>
                            <!--
                            <button class="btn btn-prim">En savoir plus <img src="./images/icons/proj-button-arrow.svg"
                                    alt="" /></button>
                                    -->
                            <div class="main-link">
                                <img src="./images/icons/link.svg" alt="">
                                <span>Ouvrir l'application</span>
                            </div>
                        </div>

                    </div>

















                </div>


                <button class="btn more">Voir plus <img src="./images/icons/black-arrow.svg" alt="" /></button>

            </section>





            <section id="blog" class="section blog">

                <div class="section-head">
                    <h3 class="section-title">Blog</h3>
                    <span class="underline"></span>
                </div>

                <div class="section-list blog">

                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <button class="btn btn-blog">En savoir plus <img src="./images/icons/arrow-white.svg"
                                alt="" /></button>

                    </div>





                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <button class="btn btn-blog">En savoir plus <img src="./images/icons/arrow-white.svg"
                                alt="" /></button>

                    </div>





                    <div class="section-list-item">

                        <div class="image">
                            <img src="./images/blog.svg" alt="">
                        </div>

                        <div class="text">
                            <h4>Bien débuter en Programmation</h4>
                            <span><img src="./images/icons/date.svg" alt="" /> April 29 2020</span>
                            <p>La programmation informatique est un des plus vaste domaine qui a connue une très grande
                                extension ces dernière...</p>
                        </div>
                        <button class="btn btn-blog">En savoir plus <img src="./images/icons/arrow-white.svg"
                                alt="" /></button>

                    </div>



                </div>


                <button class="btn more">Voir plus <img src="./images/icons/black-arrow.svg" alt="" /></button>

            </section>









        </div>



        <div class="motif">
            <img src="./images/motif.svg" alt="">
        </div>

        <div class="white">
            <div class="container">



                <section id="contact" class="section contact">

                    <div class="section-head">
                        <h3 class="section-title">Contact</h3>
                        <span class="underline"></span>
                    </div>

                    <div class="form">
                        <input type="text" placeholder="Nom" />
                        <input class="email" type="email" placeholder="E-mail address" />
                        <textarea>Votre message</textarea>
                        <button class="btn btn-contact">Send</button>
                    </div>

                </section>



                <section class="section partenaires">

                    <div class="section-head">
                        <h3 class="section-title">Il me font confiance</h3>
                        <span class="underline"></span>
                    </div>

                    <div class="section-list partenaires">

                        <div class="section-list-item">
                            <img class="service-image" src="./images/Rectangle 70.png" alt="">
                            <h4 class="service-title">Yves Tondje</h4>
                            <div class="service-desc">
                                Développer Java Senior
                            </div>
                        </div>

                        <div class="section-list-item">
                            <img class="service-image" src="./images/Rectangle 70.png" alt="">
                            <h4 class="service-title">Yves Tondje</h4>
                            <div class="service-desc">
                                Développer Java Senior
                            </div>
                        </div>

                        <div class="section-list-item">
                            <img class="service-image" src="./images/Rectangle 70.png" alt="">
                            <h4 class="service-title">Yves Tondje</h4>
                            <div class="service-desc">
                                Développer Java Senior
                            </div>
                        </div>

                        <div class="section-list-item">
                            <img class="service-image" src="./images/Rectangle 70.png" alt="">
                            <h4 class="service-title">Yves Tondje Yves Tondje Yves Tondje</h4>
                            <div class="service-desc">
                                Développer Java Senior
                            </div>
                        </div>


                    </div>

                </section>



            </div>
        </div>

    </main>

    <footer class="footer">
        <p>Copy right &copy; 2020. All Right Reserved</p>
    </footer>



    <script src="./js/main.js"></script>


</body>

</html>