@font-face {
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-family: Open-sans;
}

@font-face {
    src: url('../fonts//Raleway/Raleway-VariableFont_wght.ttf');
    font-family: Raleway;
}