@import './fonts';

/*---------------- Theme fonts -------------------*/

$Raleway: Raleway, cursive;
$Open-sans: Open-sans, sans-serif;

/*-------X-------- Theme fonts ----------X--------*/



/*---------------- Theme colors ------------------*/

$primary: #E63946;
$secondary: #1D3557;
$background: #EDEFFB;
$gray: #616161;
$yellow: #FFEA60;
$sky: #A8DADC;
$white: #FFF;
$black: #000;

/*-------X-------- Theme colors ---------X--------*/